
body{
    background-color: rgba(3, 1, 114, 0.815);
   
}
section{
    margin-top: 80px;
}
section>.div3{
    background-color:rgba(2, 2, 126, 0.226) ;
    margin: auto;
    width: 400px;
    height: 600px;
    border-radius: 10px;
    margin: auto;
   position: relative;
   padding: 16px;
   color: white;

}

section>.div3>p{
    color: rgba(255, 255, 255, 0.589);
}
section>.div3>h3{
    color: rgb(3, 216, 216);
    display: inline-block;
}
section>.div3>h4{
    display: inline-block;
    position: absolute;
    right: 18px;
}
section>.div3>p>img{
    width: 16px;
    height: 16px;
  
}
section>.div3>.div4>img{
   width: 100%;
   border-radius: 8px;
}